/* основной цвет ntcnf #212121 */
/* вторичный цвет #757575 */
/* Белый цвет */
/* Ацент- #2196F3 */
/* цвет контактов футера rgba(255, 255, 255, 0.6);*/
/* вторичный цвет фона #F5F4FA */

:root {
  --primary-texr-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
}
body {
  color: #757575;
  background-color: #fff;
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* ***Шапка сайта**** */
/* Logo */
.logo {
  color: var(--accent-color);

  font-family: Raleway;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
}
.logo-black {
  color: black;
  font-family: Raleway;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
}
/* Site-nav */
.site-nav .link {
  color: var(--primary-texr-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
/* Contact-list */
.contacts {
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.contacts-link {
  color: var(--title-text-color);
}

/* ***Блок-герой*** */
.hero {
  background-color: #2f303a;
}
.hero-title {
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
}

/* Section */
.section-title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* Features */
.features {
  color: var(--primary-texr-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.features-list {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
/* Team-list */
.section-team {
  background-color: #f5f4fa;
}
.team-list {
  color: var(--primary-texr-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.team-professional {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}

/* Вutton  */
.button {
  color: #fff;
  background-color: var(--accent-color);
  font-family: inherit;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  letter-spacing: 0.06em;
}
/* Footer */
.footer {
  background-color: #2f303a;
}

.address {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
